.main-content {
    padding-top: 60px; /* make room for the fixed header */
}

.legend {
    border: 5px groove grey;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    margin-top: 5em;
}
